<form id="loginForm" action="/api/users/login" method="POST">
  <h2 id="h2-login-form">Login</h2>
  <span>or</span>
  <a href="#">Sign-UP</a>
  <div>
    <label for="email">Email:</label>
    <input
      placeholder="example@example.com"
      type="email"
      id="email"
      name="email"
      required
    />
  </div>
  <div>
    <label for="password">Password:</label>
    <input
      placeholder="your password goes here.."
      type="password"
      id="password"
      name="password"
      required
    />
  </div>
  <button class="login-btn" type="submit">Login</button>
</form> 