<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <!-- Include any necessary CSS files -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/jass.css">

</head>
<body>
    {{> header}}

    <div class="container">
        {{{body}}}
    </div>

    {{> footer}}
</body>
</html>
