<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pageTitle}}</title>
    <!-- Include any necessary CSS files -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/login-form.css" />
    <link rel="stylesheet" href="/css/signup-form.css" />
    <link rel="stylesheet" href="/css/carousel.css" />
    <link rel="stylesheet" href="/css/favorite.css" />
    <link rel="stylesheet" href="/css/contactForm.css" />
    <link rel="stylesheet" href="/css/mobile.css" />
  </head>
  <body>
    <nav>
      <!-- Conditionally render login or logout links -->
      {{#if sign_up}}
        <a href="/home">profile</a>
        |
        <button class="button" id="logout">logout</button>
      {{else}}
        {{! <a href="/signup">login</a> }}
      {{/if}}
    </nav>

    <div class="container">
      {{{body}}}
      </div>
    </div>
  </body>
</html>

