<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <!-- Include any necessary CSS files -->
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    {{> header}}

    <div class="container">
        {{{body}}}
    </div>

    {{> footer}}

    <!-- Include any necessary JavaScript files -->
    <script src="/scripts/server.js"></script>
</body>
</html>
