<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Search</title>
    <!-- Add any additional head content here (e.g., CSS links) -->
  </head>
  <body>
    <nav id="navbar">
      <div class="link-container">
        <a href="/" class="nav-btn">Home</a>
        <a href="/favorites" class="nav-btn">Favorites</a>
        <br />
        <img src="/images/a-little-life.jpg" height="300px" />
        <br />
        <img src="/images/life-after-life.jpg" height="300px" />
        <br />
        <img src="/images/the-art-of-fielding.jpg" height="300px" />
        <br />
      </div>
      <div id="login-form-container"></div>

      {{#if logged_in}}
        <button class="nav-btn" id="logout">logout</button>
      {{else}}
        <a href="/login" class="nav-btn" id="login-btn">Login</a>
        <a href="/signup" class="nav-btn" id="signup-btn">Sign-UP</a>
      {{/if}}

    </nav>

    <div class="main-content">
      <h1 class="book-search-title">📚 Boundless Finds: Discover Your Next Read
        📚</h1>
      <div class="search-container">
        <input
          type="text"
          id="search-input"
          placeholder="your book title here..."
        />
        <button id="search-button">Search</button>
      </div>
      <div id="book-container">
        <!-- Books will be added here by the JS script -->
      
      
      </div>
    </div>
    <!-- JS Script for Handling API and DOM Manipulation -->
    <script src="./js/homeAPI.js"></script>
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>