<div class="homepage">
  <a class="homepage" href="http://localhost:3001/">Homepage</a>
</div>

<form id="loginForm" action="/api/users/login" method="POST">
  <h2 id="h2-login-form">Login</h2>
  <span>or</span>
  <a href="http://localhost:3001/signup">Sign-UP</a>
  <div class="input-box">
    <label for="email">Email:</label>
    <input
      placeholder="example@example.com"
      type="email"
      id="email"
      name="email"
      required
    />
  </div>
  <div class="input-box">
    <label for="password">Password:</label>
    <input
      placeholder="your password goes here.."
      type="password"
      id="password"
      name="password"
      required
    />
  </div>
  <button class="login-btn" type="submit">Login</button>
</form>

<script src="/js/login.js"></script>