/* Center the login form */
#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Style form inputs for login form */
#loginForm input[id="email"],
#loginForm input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 9px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 25px;
  border-color: rgb(100, 93, 83);
  background-color: rgb(33, 35, 37);
  color: rgb(232, 230, 227);
}

/* Style form labels for login form */
#loginForm label {
  margin-bottom: 5px;
  font-size: 25px;
  color: rgb(232, 230, 227);
}

/* Style submit button for login form */
.login-btn {
  width: 140px;
  padding: 10px;
  margin-top: 10px;
  background-color: #0d56a5;
  color: rgb(232, 230, 227);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
}


/* Style 'or' span for login form */
#loginForm span {
  display: block;
  text-align: center;
  margin: 10px 0;
  color: rgb(232, 230, 227);
  font-size: 30px;
}

/* Style 'Sign-Up' link for login form */
#loginForm a {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  color: rgb(51, 162, 255);
  font-size: 30px;
  text-decoration: none;
}

/* Change color on hover for 'Sign-Up' link */
#loginForm a:hover {
  color: #063669;
}

/* Style heading for login form */
#h2-login-form {
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
  color: rgb(232, 230, 227);
}

#login-btn {
  margin-top: auto;
  margin-bottom: 10px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  color: rgb(232, 230, 227);
  border-radius: 4px;
  background: #3e78a7;
}

#logout-btn {
  margin-bottom: 40px;
  margin-top: 27px;
  height: 110px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background: rgb(232, 230, 227);
  border-radius: 20px;
  color: #092841;
  cursor: pointer;
}

#login-btn:hover,
#login-btn:focus {
  background-color: #3a5370;
  outline: none;
}
