/* Center the signup form */
#signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Style form inputs for signup form */
#signupForm input[type="text"],
#signupForm input[type="username"],
#signupForm input[type="email"],
#signupForm input[type="password"],
#signupForm input[type="text"]#lastname {
  width: 100%;
  padding: 10px;
  margin: 9px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 25px;
  background-color: #343438
}

.input-box {
  width: 440px;
}

/* Style form labels for signup form */
#signupForm label {
  margin-bottom: 5px;
  font-size: 30px;
  color: #fff
}

/* Style submit button for signup form */
#signupForm .signup-btn {
  width: 140px;
  padding: 10px;
  margin-top: 10px;
  background-color: #0d56a5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
}

/* Style heading for signup form */
#signupForm h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 140px;
  color: #fff
}