html {
  background-color: rgb(24, 26, 27)
}

body {
  margin: 0;
}

.main-content span {
  color: brown;
  font-size: 53px;
  text-decoration: underline;
  font-family: 'Georgia', serif;
}

.book-search-title {
  font-family: monospace;
  font-size: 40px;
  color: #6d4a50;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid #D3BCC0;
  padding-bottom: 20px;
  /* background-image: url('/images/banned-books.jpg'); Add the path to your image */
}

#navbar {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 250px;
  background-color: #052546;
  color: rgb(232, 230, 227);
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 100;
  justify-content: space-between;
}

.main-content {
  margin-left: 290px;
  padding: 20px;
  position: relative;
  z-index: 1;
  height: 100%;
}

.link-container {
  display: flex;
  flex-direction: column;
}

#login-btn {
  margin-top: auto;
  margin-bottom: 10px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  color: rgb(232, 230, 227);
  border-radius: 4px;
  background: #3e78a7;
}

#logout-btn {
  margin-bottom: 60px;
  margin-top: 27px;
  height: 110px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 43px;
  background: rgb(232, 230, 227);
  border-radius: 20px;
  color: #092841;
  cursor: pointer;
}

#login-btn:hover,
#login-btn:focus {
  background-color: #3a5370;
  outline: none;
}

#signup-btn:hover,
#signup-btn:focus {
  background-color: #3a5370;
  outline: none;
}

#signup-btn {
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-btn {
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #0a417d;
  color: rgb(228, 227, 232);
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: x-large;
}

.homepage {
  padding: 10px 20px;
  background-color: #0a417d;
  color: rgb(228, 227, 232);
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: x-large;
}

.nav-btn:hover,
.nav-btn:focus {
  background-color: #004494;
  outline: none;
}

.search-container {
  position: relative;
  display: block;
  margin: 0 auto;
  width: fit-content;
  z-index: 101;
}

#search-input {
  padding-left: 125px;
  width: 700px;
  height: 55px;
  border-radius: 4px;
  border: rgb(82, 89, 93);
  font-size: 22px;
  background: rgb(41, 45, 47);
  color: rgb(216, 212, 207);
}

#search-button {
  position: absolute;
  left: 2px;
  top: 2px;
  height: calc(100% - 4px);
  border: none;
  background-color: rgb(0, 78, 163);
  color: rgb(216, 212, 207);
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  width: 110px;
  border-radius: 2px;
  font-size: 22px;
}

#search-input:focus,
#search-button:hover,
#search-button:focus {
  outline: none;
  border-color: #1263b9;
  box-shadow: 0 0 0 1px rgba(1, 186, 209, 0.75);
  transition: box-shadow 0.3s ease;/
}

#search-input::placeholder {
  color: #c3c2c2;
  font-style: italic;
  font-size: 22px;
}

.next-btn-container .next-page-btn {
  display: flex;
  width: fit-content;
  height: auto;
  background-color: none;
  color: brown;
  border: none;
  font-size: 100px;
}

#book-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 30px 20px;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: rgb(232, 230, 227);
  overflow: hidden;
  padding: 10px;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  align-self: stretch;
  height: 300px;
  margin: 10px 0;
}

.card h2,
.card p,
.card button {
  padding: 0 10px;
  height: 40px;
}

.card p {
  display: block;
  overflow-y: auto;
  height: 96px;
  margin-top: auto;
  width: 100%;
  box-sizing: border-box;
  padding: 4px 8px;
  text-align: left;
}

.card button {
  margin-top: 10px;
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #007bff;
  color: rgb(232, 230, 227);
  border: none;
  cursor: pointer;
}

.card button:hover {
  background-color: #0056b3;
}

/* Scrollbar styling */
.card p::-webkit-scrollbar {
  width: 4px;
}

.card p::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.card p::-webkit-scrollbar-thumb {
  background: #888;
}

.card p::-webkit-scrollbar-thumb:hover {
  background: #555;
}

